.card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-radius: 0.5rem;
}

h2 {
  font-weight: bold;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
}

input.ng-invalid.ng-touched {
  border-color: #dc3545;
}